# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:passwork@localhost:5432/SchoolDatabase?schema=public"
SECRET_KEY_TOKEN="tu_secret"
GOOGLE_GENERATIVE_AI_API_KEY="Api-key"
FAL_API_KEY="Api-key"
FRONTEND_URL="http://localhost:3001"
BACKEND_PRIVATE_KEY="tu_private_key_aqui"

# Contract Addresses
ANDU_TOKEN_ADDRESS="0xc518353025E46b587e424c4aBa6b260E4dB21322"
ARANDU_CERTIFICATES_ADDRESS="0x60d4525Fe706c4CE938A415b2B8bC2a7f8b2f64c"
ARANDU_BADGES_ADDRESS="0x0275c991DfE3339da93a5aecbB162BE4A9D152C4"
ARANDU_REWARDS_ADDRESS="0x401DFD0a403245a2111B9Dac127B2815feBB3dfA"
ARANDU_RESOURCES_ADDRESS="0x49bcaF572905BC08cdE35d2658875a9BFA52838a"
DATA_ANCHOR_ADDRESS="0x9aDb12a7448B32836b526D7942Cc441fF91a6d3D"